.color-green {
  color: #009c00;
}
.color-red {
  color: red;
}

.test-suit {
  padding-left: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.test-suit:hover {
  box-shadow: 5px 5px #000;
}

.content {
  width: 960px;
  margin: 0 auto;
}

textarea {
  /*width: 960px;
  height: 200px;*/
}

.deactivated, .deactivated span {
  color: #b7b7b7 !important;
}

.deactivated p {
  margin: 2px !important;
  overflow: hidden;
  max-height: 18px;
}
.deactivated span {
  display: none;
}